.App {
  text-align: center;
}

html {
  height: 100%;
}

head {

}

body {
  height: 100%;
}


#root {
  height: 100%;
}

#main {
  background-image: linear-gradient(to bottom right, #370435, #D7172D);
  min-height: 100%;
}

#header {
  height: 50px;
}

#titles-container {
  margin-left: 10%;
}

#dashboard-title {
  color: #FFFFFF;
  font-family: "HelveticaNeue-Thin","HelveticaNeueThin", "Helvetica Neue Thin", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 700;
  margin-left: 2em;
}

#shipping {
  height: 70%
}

.card-container {
  margin-left: 5%;
  margin-top: 15%;
  width: 90% !important;
}
