.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


html {
  height: 100%;
}

head {

}

body {
  height: 100%;
}


#root {
  height: 100%;
}

#main {
  background-image: linear-gradient(to bottom right, #370435, #D7172D);
  min-height: 100%;
}

#header {
  height: 50px;
}

#titles-container {
  margin-left: 10%;
}

#dashboard-title {
  color: #FFFFFF;
  font-family: "HelveticaNeue-Thin","HelveticaNeueThin", "Helvetica Neue Thin", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 700;
}

#dashboard-sc-address {
  color: #FFFFFF;
  font-family: "HelveticaNeue-Thin","HelveticaNeueThin", "Helvetica Neue Thin", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 400;
    margin-top: 6px;
}

#vote-title {
  color: #FFFFFF;
  margin-top: 1%;
}

.card-container {
  margin-left: 5%;
  margin-top: 15%;
  width: 90% !important;
}
